.calendar_element {
  display: grid;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: auto auto; /* auto for the left column, 1fr for the right column */
}
.CalendarInfoBox {
  /* color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flexbox */
  border: solid black 2px;
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  /* display: none; */
}
.calendar_header {
  color: #000;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  /* padding-bottom: 1rem; */
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  grid-column: 2/3;
}
.monthNavigation {
  display: flex;
  gap: 2vw;
}
.calendar_container_month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-width: 80vw;
  max-width: 90vw;
  grid-column: 2/3;
}

.cell {
  display: flex;
  padding: 1.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  */
  position: relative;
  border: 1px solid var(--Stroke, #d5d4df);
  min-height: 1.5vw;
}
.cellNumberOFfree {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  border-bottom: 1px solid var(--Stroke, #d5d4df);
  border-left: 1px solid var(--Stroke, #d5d4df);

  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  color: rgb(79 131 0);
}

.cell_number {
  display: flex;
  height: 1.2rem;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cell.weekday-cell {
  border: none;
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.inactive_cell {
  background: var(--Inactive, #f2f3f7);
}
.inactive_cell_number {
  color: #a8a8a8;
}
.invisible {
  display: none;
}
